<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>
  <variable name="token" value="Basic bWlzYTpNaXNhQDIwMTk=" />
  <variable name="app_id" value="misa_mintax"/>
  <variable name="system_id" value="misa_mintax_etax" />
  <targets async="true">
    <target name="allfile" xsi:type="File"
            fileName="${basedir}/logs/misa_mintax_etax/${date:format=ddMMyyyy}.log"
            encoding="utf-8"
            layout="[${longdate}][${machinename}][${level}] ${message} ${exception}" />
    <target name="elk"
         xsi:type="WebService"
         url="http://testlogapi.misa.local"
         encoding="UTF-8"
         protocol="JsonPost"
         preAuthenticate="True">
      <header name='Authorization' layout='${token}'/>
      <parameter name="app_id" type="System.String" layout="${app_id}" />
      <parameter name="system_id" type="System.String" layout="${system_id}" />
      <parameter name="company_code" type="System.String" layout="${event-properties:item=CompanyCode}" />
      <parameter name="user_name" type="System.String" layout="${event-properties:item=UserName}" />
      <parameter name="message" type="System.String" layout="${message}" />
      <parameter name="level" type="System.String" layout="${level}" />
      <parameter name="logger" type="System.String" layout="${logger}" />
      <parameter name="machine_name" type="System.String" layout="${machinename}" />
      <parameter name="iis-site-name" type="System.String" layout="${iis-site-name}" />
    </target>
  </targets>
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Debug" writeTo="allfile" />
    <logger name="*" minlevel="Debug" writeTo="elk"/>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>