################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs


MISA.Mintax/.dockerignore
MISA.Mintax/docker-compose.override.yml
MISA.Mintax/docker-compose.yml
MISA.Mintax/MISA.MintaxUI/Dockerfile
MISA.Mintax/MISA.MintaxUI/Dockerfile.original
MISA.Mintax/docker-compose.yml
MISA.Mintax/docker-compose.override.yml
MISA.Mintax/.dockerignore
MISA.Mintax/docker-compose.yml
MISA.Mintax/docker-compose.override.yml
MISA.Mintax/docker-compose.yml
node_modules/html-entities/LICENSE
node_modules/html-entities/package.json
node_modules/html-entities/README.md
node_modules/html-entities/lib/html4-entities.d.ts
node_modules/html-entities/lib/html4-entities.js
node_modules/html-entities/lib/html5-entities.d.ts
node_modules/html-entities/lib/html5-entities.js
node_modules/html-entities/lib/index.d.ts
node_modules/html-entities/lib/index.js
node_modules/html-entities/lib/xml-entities.d.ts
node_modules/html-entities/lib/xml-entities.js

MISA.Mintax/Services/ETax/MISA.Mintax.ETax.Api/MISA.Mintax.ETax.Api.csproj
/MISA.Mintax/Services/MTaxConnector/MISA.Mintax.MTax.Api/TempFileDeclereation
/MISA.Mintax/Services/ImportExport/MISA.MinTax.ImportExport/FileTemplate/Import/
/MISA.Mintax/Services/ETax/MISA.Mintax.ETax.ApplicationCore/Entities/ETax/CalcDeclarationSettleDetail.cs
/MISA.Mintax/Services/ETax/MISA.Mintax.ETax.Api/Services/MyServiceSettlementDetail.cs
/MISA.Mintax/Services/ETax/MISA.Mintax.ETax.Api/Services/MyServiceSettlement.cs
