//Bảng màu chung
$primary: #0e1d61;
$light-primary: #2944bb;
$hover-primary: #243585;
$box-shadow-grey: rgba(0, 0, 0, 0.16);

$seconds: #cc0202;
$light-seconds: #ee0000;

$green: #01b680;
$hover-green: #ebf9f4;

$blue: #0075ff;
$hover-blue: #ebf4ff;

$orange: #ff6900;
$hover-orange: #fff3eb;

$red: #ee0000;
$bg-red: #f65454;
$light-red: #ff4747;
$hover-red: #fee5e5;

$dark: #000000;
$hover-dark: #333333;

$grey: #929292;
$hover-grey: #e5e5e5;

$purple: #a900d1;
$hover-purple: #f6e5fb;

$border-grey: #f8f8f8;
$bg-grey: #bbbbbb;

$bg-color-1: #f1f1f1;
$bg-color-2: #f4f4f4;
$bg-color-3: #d1d1d1;

$dark-primary: #019160;

$green-old: #01b075;

$warning: #f65454;
$light-warning: #ffebeb;

$medium-dark-grey: #454545;
$dark-grey: #515252;
$background-grey: #e9ebee;
$light-grey: #e5e5e5;
$background-light-grey: #f5f8fb;


$hover-grey: #f4f4f4;
$active-green: #e3f3ee;

$medium-white: #f8f8f8;

$white: #ffffff;

$white-main: #ebebeb;

$white-navbar: #d0d0d0;

$white-bordertable: #ebeef5;
$white-headertable: #ddd;

$white-scrollbar: #f7f7f7;
$primary-scrollbar: #3ab38a;

$color-link: #337ab7;

$white-aside: #eef1f6;
$color-aside: #2c3e50;

$orange-delete: #ff4a2b;

$hover-table-row:#EBF4FF;
$yellow: #ffaa00;

$text-grey-primary: #6f6f6f;

$violet-duplicate: #5b4dbe;
$red-wrong:  #ff0000;
$blue-duplicate: #0081f2;
$boder-row-table:#e9ebee;

$light-blue-unit: #e5f2fe;
// Màu convert 

$border-opacity-60 : #92929299; //grey với opacity 60%

//Font chữ
$_fontregular: "GoogleSansRegular";
$_fontbold: "GoogleSansBold";
$_fontmedium: "GoogleSansMedium";
$_fonttimesnewroman: "TimesNewRoman";

$columns-width: 72px;


$chip-info-color: #D3E8FE;
